*
{
    scroll-behavior: smooth;
}
body
{
    background-image: url(img/papel\ de\ parede.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: 'Rubik', sans-serif;
    background-color: black;
    text-align: center;
    list-style-position: inside;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
.titulo1
{
    font-size: 3rem;
    color: orange;
    border-bottom: 0.2rem solid orange;
}
.titulo2
{
    font-size: 2rem;
    color: orange;
}
main
{
    /* ANOTAR */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
}
.imagem
{
    border-radius: 1rem;
    border: 3px solid orange;
    margin: 1%;
}
.header1
{
    position: fixed;
    top: 1%;
    right: 1%;
    width: 10%;
    background-color: orange; 
    border-radius: 2rem;
    font-family: 'Rubik', sans-serif;
    color: white;
    padding: 0.5rem 0rem 0.5rem 0rem;
}
.cabeçalho
{
    display: inline-block;
}
.cabeçalho:hover
{
    color: black;
}
.cabeçalho:visited
{
    color: white;
    text-decoration: none;
}
.cabeçalho:active
{
    color: black;
}
.cabeçalho:link
{
    text-decoration: none;
    color: black;
}